{% extends 'main/base.html' %}
{% block title %} Your Bank Account {% endblock %}

{% block content %} <h3>My Bank Account</h3>
    <br>
    <h1> My balance </h1>
    <h2 class ="{{ blc }}"> {{ account.balance}} USD </h2>
    <form method="post" action="bank" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepent">
                {{ bank.as_p }}
                <button type="submit" , name="add" class="btn btn-success" , value="add">Add Money</button>
                <button type="submit" , name="withdraw" class="btn btn-warning" , value="withdraw">Withdraw Money</button>
            </div>
        </div>

    </form>
{% endblock %}