{% extends 'main/base.html' %}
{% block title %} Create New List {% endblock %}

{% block content %} <h3>Create To Do List</h3>
    <form method="post" action="create" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepent">
                {{ form.as_p }}
                <button type="submit" , name="save" class="btn btn-success"> Create New</button>
            </div>
        </div>

    </form>
    <form method="post" action="#">
    {% csrf_token %}
    <ul class="list-group">
    {% for todo in todos %}
        <div class="cont">   <li class="list-group-item "><a class="anchor" href="/{{ todo.id }}">{{ todo.name }} </a> </li>

        <button type="submit" name="del" value="{{todo.id}}" class="btn btn-danger"> Delete </button></div>
 <hr>
        {% endfor %}
    </ul>
    </form>
{% endblock %}